<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
</head>

<body>
    <h1>Welcome to Login Page</h1>
    <form action="#" method="POST">
        <p>
            <label for="name">Name : </label>
            <input type="text" name="username" id="name">
        </p>
        <p>
            <label for="pswd">Password:</label>
            <input type="password" name="password" id="pswdid">
        </p>
        <p><input type="submit" value="Login"></p>

        {% if control %}
        <h2>Hi {{ user }}, Welcome to login page! your password is wrong, please try again </h2>
        {% endif %}
    </form>
</body>

</html>